# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments
.env
.venv
env/
venv/
ENV/

# IDE
.idea/
.vscode/

# Jupyter
.ipynb_checkpoints/

# Testing
.pytest_cache/
htmlcov/
.coverage

# Data
data/raw/*.csv
data/processed/

# Keep empty directories
!data/raw/.gitkeep

# DONT IGNORE MODEL
!models/final_model.joblib
